<ion-header>
    <ion-toolbar>
        <h1>Habitaciones List</h1>
    </ion-toolbar>
</ion-header>
<!-- ///////////////// Header-End  ///////////////////// -->
<ion-content style="--background: #121212;">
    <section class="list">
        <!-- ///////////////// Item  ///////////////////// -->
        <div class="container">
            <div class="list__items" *ngFor="let habitacion of Habitaciones">
                <button class="list__item-button" [routerLink]="['/habitaciones', habitacion.numero]">
            <ion-icon name="home"></ion-icon>
            <label>Habitación {{habitacion.numero}}</label>
            </button>
                <!--////////////////////////////////////////-->
                <div class="item-note">
                    <!--////////////////////////////////////////-->

                    <ion-icon clear [routerLink]="['/updatehabitaciones/', habitacion._id]" name="create" style="zoom:1.5"></ion-icon>

                    <!--////////////////////////////////////////-->
                    <ion-icon (click)="removeUser(habitacion, i)" name="trash" style="zoom:1.5"></ion-icon>
                    <!--////////////////////////////////////////-->
                </div>
            </div>
        </div>
        <!-- ///////////////// Item-End  ///////////////// -->
    </section>
</ion-content>