<ion-header>
    <ion-toolbar>
        <ion-title>Actualizar Habitaciones</ion-title>
    </ion-toolbar>
</ion-header>
<!-- HEADER-END -->
<!-- FORM -->
<form class="form" [formGroup]="updateUserFg" (ngSubmit)="onSubmit()">

    <div class="form__container-input">
        <!-- IMPUT numRoom -->
        <label class="form__label-numRoom" for="email">Numero de habitacion:</label>
        <input formControlName="numero" placeholder=" " type="numero" id="email" class="form__input" autocomplete="off" required>
        <!-- IMPUT-END -->
        <label class="form__label-tipoRoom" for="email">Tipo de habitacion:</label>
        <input formControlName="tipo" placeholder=" " type="text" id="email" class="form__input" autocomplete="off" required>
        <!-- IMPUT-END  -->
        <!-- IMPUT statusRoom -->
        <label class="form__label-statusRoom" for="email">Estatus de la habitacion:</label>
        <input formControlName="estatus" placeholder=" " type="text" id="email" class="form__input" autocomplete="off" required>
        <!-- IMPUT-END -->
        <!-- IMPUT orden -->
        <label class="form__label-orden" for="email">Orden:</label>
        <input formControlName="orden" placeholder=" " type="text" id="email" class="form__input" autocomplete="off" required>
        <!-- IMPUT-END -->
    </div>
    <!-- ADD -->

    <button class="btn" type="submit">Update</button>

    <!-- ADD-END -->
</form>
<!-- FORM-END -->