<ion-header>
    <ion-toolbar>
        <ion-title>
            {{habitacion1}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list lines="full">
        <ion-item>
            <ion-label>{{id}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>{{numero}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Estado actual:
                <ion-badge color="primary">{{estatus}}</ion-badge>
            </ion-label>
        </ion-item>
        <button class="w3-button w3-hover-green w3-border" (click)="disponible()">Disponible</button>
        <button class="w3-button w3-hover-blue w3-border" (click)="limpiando()">Limpiando</button>
        <button class="w3-button w3-hover-red w3-border" (click)="ocupado()">Ocupado</button>
        <ion-item>
            <ion-label>{{orden}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-button expand="round" color="primary">Editar</ion-button>
        </ion-item>
        <ion-item>
            <ion-button expand="round" color="danger">Cancelar</ion-button>
        </ion-item>
    </ion-list>

</ion-content>