<ion-header>
    <ion-toolbar>
        <ion-title>
            {{habitacion}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list lines="full">
        <ion-item>
            <ion-label>{{id}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>{{numero}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Estado actual: {{estatus}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Disponible</ion-label>
            <ion-checkbox color="primary" name="dis">Disponible</ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Limpiando</ion-label>
            <ion-checkbox color="secondary" name="lim">Limpiando</ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Ocupado</ion-label>
            <ion-checkbox color="danger" name="ocu">Ocupado</ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>{{orden}}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-button expand="round" color="primary">Editar</ion-button>
        </ion-item>
        <ion-item>
            <ion-button expand="round" color="danger">Cancelar</ion-button>
        </ion-item>
    </ion-list>

</ion-content>