<ion-header>
    <ion-toolbar>
        <ion-title>
            {{habitacion1}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<!--HEDER-END's-->
<form class="room">
    <div class="room__info">
        <label id="id">Numero de indentificación:</label>
        <h3 class="info__id"> {{id}}</h3>
        <label id="numero">Numero de habitación: </label>
        <h3 class="info__numero"> {{numero}}</h3>
        <label id="estatus">Estatus de la habitación:</label>
        <h3 class="info__estatus"> {{estatus}}</h3>
        <label id="orden">Orden de la habitación:</label>
        <h3 class="info__orden"> {{orden}}</h3>
    </div>

    <section class="room__action">
        <div class="action__edit">
            <button id="action__disponible" class="btn" (click)="disponible()">Disponible</button>
            <button id="action__limpiando" class="btn" (click)="limpiando()">Limpiando</button>
            <button id="action__ocupado" class="btn" (click)="ocupado()">Ocupado</button>
        </div>
        <!--<button id="action__editar" class="btn" (click)="ocupado()">Editar</button>-->
        <button id="action__cancelar" class="btn" (click)="return()">Cancelar</button>
    </section>

</form>