<form class="form">
    <h2 class="form__title">System-H</h2>
    <!--<div class="form__container-input">-->
    <div class="form__container-input">
        <label class="form__label-email" for="email">Email</label>
        <input placeholder=" " type="text" id="email" class="form__input" autocomplete="off">
        <label class="form__label-password" for="password">Password</label>
        <input placeholder=" " type="password" id="password" class="form__input" autocomplete="off">
    </div>
    <!--</div>-->
    <a class="btn">Acceder</a>
</form>