/*  Color Variables  */


/*60%*/

$--Clr-background-light:#1F1F1F;
$--Clr-background: #121212;

/*30%*/

$--Clr-interface: #fff;

/*10%*/

$--Clr-complement: #8E05C2;

/*  Color Variables-end  */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form {
    height: 100vh;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form h2 {
    letter-spacing: 8px;
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
}

.form a {
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
}

.form .form__container-input {
    margin: 4em 0 4em 0;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form .form__container-input input {
    margin: 2em 0;
    width: 100%;
    padding: 1em;
    max-width: 40vh;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(142, 5, 194, 0) 0%, rgba(31, 31, 31, 1) 86%);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(105, 101, 101, 0.5);
    border-right: 1px solid rgba(105, 101, 101, 0.5);
}

.form .form__container-input .form__input:hover {
    border-color: $--Clr-complement;
}

.form .form__container-input label {
    font-size: 21px;
    position: absolute;
    cursor: text;
}

.form .form__container-input .form__label-email {
    bottom: 195px;
    background-color: $--Clr-background;
    left: 2em;
}

.form .form__container-input .form__label-password {
    top: 125px;
    left: 2em;
    background-color: $--Clr-background;
}

////////// BTN  //////////////
.btn {
    position: relative;
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    ///////////////////
    text-transform: uppercase;
    text-align: center;
    ///////////////////
    transition: 0.1s;
    color: #ffffff;
}

.btn::before,
.btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 5%;
    background-color: $--Clr-complement;
    transition: 0.6s;
}

.btn::before {
    left: 50%;
}

.btn::after {
    right: 50%;
}

.btn:hover::before,
.btn:hover::after {
    width: 50%;
    transition: width 350ms ease-in-out;
}

////////// BTN-Close  //////////////