<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-list lines="full">
        <form [formGroup]="updateUserFg" (ngSubmit)="onSubmit()">

            <ion-item>
                <ion-label position="floating">Usuario</ion-label>
                <ion-input formControlName="name" type="text" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input formControlName="email" type="text" required>
                </ion-input>
            </ion-item>

            <ion-row>
                <ion-col>
                    <ion-button type="submit" (click)="onSubmit()" color="success" expand="block">Iniciar Sesión</ion-button>
                </ion-col>
            </ion-row>

        </form>
    </ion-list>
</ion-content>